# This workflow will install Python dependencies, run tests with Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Run pytest

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        python-version: ["3.12"]

    steps:  
      - uses: actions/checkout@v3  
      - name: Set up Python ${{ matrix.python-version }}  
        uses: actions/setup-python@v4  
        with:  
          python-version: ${{ matrix.python-version }}  
      - name: Install dependencies  
        run: |  
          python -m pip install --upgrade pip
          pip install -e .
          pip install pytest pytest-qt
      - name: Test with pytest  
        run: |  
          pytest  -v -s
